.header{
    display: flex;
    &-img{
        padding-left: 50px;
        width: 100px;
        height: 70px;
    }
    &-list{
        padding-left: 500px;
        p{
            padding-left: 10px;
        }
        display: flex;
    }
    &-login{
        padding-left: 50px;
    }
}